@model Employee
@{
    ViewData["Title"] = "DEtails";
    
}

<h1>DEtails</h1>

@* <partial name="_EmpCardPartial" model="Model.Department"/> *@
<partial name="_EmpCardPartial"/>
<a href="/Employee/Edit/@Model.Id" class="btn btn-primary">Edit Profile</a>
