@model List<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a class="btn btn-success" asp-controller="Employee" asp-action="New" >New</a>
<table class="table table-bordered table-hover">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>
                <a href="/Employee/Edit/@item.Id">Edit</a>
            </td>
        </tr>
    }

</table>