@model Employee
@{
    ViewData["Title"] = "New";
    SelectList deptItems = 
        new SelectList(ViewBag.DeptList,"Id","Name");
}

<h1>New</h1>

<form asp-controller="Employee" asp-action="SaveNew" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    @* asp-route-id="@Model.Id" Edit *@
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="JobTitle"></label>
        <input asp-for="JobTitle" class="form form-control" />
        <span asp-validation-for="JobTitle" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="Salary"></label>
        <input asp-for="Salary" class="form form-control" />
        <span asp-validation-for="Salary" class="text-danger"></span>

    </div>

    <div>
        <label asp-for="Address"></label>
        <input asp-for="Address" class="form form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="ImageUrl"></label>
        <input asp-for="ImageUrl" class="form form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="DeptartmentId"></label>
        <select asp-for="DeptartmentId" class="form form-control" asp-items="deptItems">
            <option value="0">-- Select Department --</option>
        </select>
        <span asp-validation-for="DeptartmentId" class="text-danger"></span>

    </div>
    <input type="submit" value="Create" class="btn btn-primary" />
</form>

<a asp-controller="Employee" asp-action="Index">Back To List</a>
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
