@model List<Department>
@{
    Layout = "_AdvLayout";
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a href="/DEpartment/Add">New</a>
<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td><a href="/DEpartment/DEtails?id=@item.Id">DEtails</a></td>
        </tr>
    }
</table>